
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  text-align: center;
  background-repeat: no-repeat;
  background-position: 10% 30%;
  background-size: cover;
  height: 90vh;
  padding-top: 40vh;
  background-color: #a16b9030;
}

.header > h1 {
  color: #ffffff;
  display: block;
  font-family: "Caveat", cursive;
  font-size: 6em;
  font-weight: normal;
  text-shadow: 0 0 10px #000;
}

.header > h1 > span {
  color: #fff;
  display: block;
  font-family: "Caveat", cursive;
  font-size: 0.6em;
}

.phrase {
  background-color: #a16b9030;
  text-align: center;
  height: 70vh;
  margin-bottom: 50px;
  padding-top: 25vh;
  text-transform: uppercase;
}

.phrase2 {
  text-align: center;
  height: 50vh;
  margin-bottom: 600px;
  padding-top: 10vh;
  text-transform: uppercase;
}


.phrase2 > table {
  text-align: center;
  font-size: 0.6em;
  margin: auto;
  margin-top: 2em;
}

.phrase2 > table > tr > td {
  margin-left: 10px;
  padding-right: 10px;
}

.phrase2 > span {
  display: block;
  margin-top: 4em;
}

.phrase2 > span > h3 {
  margin-top: 1em;
}

.timeline {
  background-color: #00000030;
  border-radius: 10px;
  margin: auto;
  margin-top: 3em;
  max-width: 500px;
}

.timeline > p {
  font-size: large;
  font-weight: lighter;
  padding-top: 2em;
  padding-bottom: 2em;
}
